body{
	background-color: white;
	margin: 0px;
	padding:0px;

}

.main{
	padding-bottom: 100px;
	background-color: rgb(228, 147, 125);
}



h1{margin:0px}

.nav{
	padding-left: 0;
margin-bottom: 0;
list-style: none;
width: 700px;
	margin-left: auto;
	margin-right: auto;
	bottom: 0px;
	position: relative;
top: 69%;
font-family: 'Catamaran', sans-serif;
}

.nav li{
	display: inline;
	color: white;
	float: left;
	margin: 23px;
	border: 11px solid #b56868;
	padding: 13px;
}
.header{
	background-color: black;
 width: 100%;
color:white;
padding: 50px;
margin-bottom: 100px
}
.header h1{
	margin:0px;
	text-align: center;
	font-size: 50px;
	font-family: 'Montserrat Subrayada', sans-serif;

}
li{
	display: inline;
	color:white;
}
.whoisme{
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	    width: 90%;
			padding-top: 50px;
		    padding-left: 50px;
		    min-height: 100px
}
.whoisme p{
	    min-height: 300px;
font-size: 25px;
text-align: center;
    padding: 40px;
}
.whoisme h1{
	text-align: center;
	margin-top: 80px;
margin-bottom: 30px;
font-family: 'Montserrat Subrayada', sans-serif;
}
.whoisme i{
	margin-left: auto;
	margin-right: auto;
	font-size: 100px;
	display: block;
	width: 14%;
 color: #c76c6c;
}
.bio{
	background-color: #ffffff;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	font-size: 20px;
    padding: 50px;
		text-align: center;
}
.bio h2{
	font-size: 50px;
	margin-top: 30px;
	font-family: 'Montserrat Subrayada', sans-serif;
}
.bio p{
	    padding: 50px;
}
p{
	font-family: 'Raleway', sans-serif;
}
.picture{
	    height: 500px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	background-image: url('https://graph.facebook.com/10212042720003672/picture?width=300&height=500');
}
.profile{
background-color: yellow;

}

.portfolio h1{
	font-size: 60px;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
		font-family: 'Montserrat Subrayada', sans-serif;
}

.project{

}

.project-image{
	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}
.project h2{
	text-align: center;
    padding: 100px;
		font-size: 100px;
}
.project img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 600px;
		margin-top: 100px;
	margin-bottom: 100px;
}
.project-explanation {
	width: 50%;
background-color: #ffffff;
		margin-right: auto;
		margin-left: auto;
		width: 90%;
		font-size: 20px;
		max-width: 1170px;
			padding: 20px;
			text-align: center;

}
.project-explanation p{
	padding: 50px;
}
.project-explanation h2{
	font-size: 50px;
}
.wordstack{
	background-image: url("https://s11.postimg.org/8zfndor7n/Screenshot_2017_03_16_18_11_34.png");
		background-size: contain;
}
#wordstack-font{
font-family: 'Fredoka One', cursive;
}

#givagifts-font{
	font-family: 'Baloo Paaji', cursive;
}

#bibleapp-font{
	font-family: 'Pacifico', cursive;
}

#lazykitchen-font{
	font-family: 'Pacifico', cursive;
}
.givagifts{
	    background-position: -34px;
	background-size: cover;
	background-image: url('https://s23.postimg.org/4w6r2m9yj/Screenshot_2017_03_16_18_12_03.png');
}

.bibleapp{
	    background-position: -6px;
background-size: cover;
background-image: url('https://s10.postimg.org/de2gphm7t/Screenshot_2017_03_16_18_12_42.png');
}
.lazykitchen{
	background-position: -34px;
background-size: cover;
background-image: url('https://s22.postimg.org/payi10wwx/Screenshot_2017_03_16_18_09_09.png');
}

.technologies{
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	font-size: 20px;
    padding: 50px;
		text-align: center;
}

.technologies img{
	width: 100px;
}
