body{
	background-color: white;
	margin: 0px;
	padding:0px;

}

.main{
	background-color: rgb(224, 224, 224);
}



h1{margin:0px}

.nav{
	background-color: #313131;
	height: 60px;
	width: 100%;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	padding-top: 10px;
}

.nav h1{
	color: white;
	float: left;
	font-size: 23px;
	text-align: center;
	width: 300px;
}
.nav li{
	display: inline;
	color: white;
	float: left;
	margin: 10px;
	padding: 0px;
}
.header{
	background-color: black;
	width: 100%;
	color: white;
	height: 95px;
	padding: 5px;
	margin-bottom: 100px;
}
.header h1{
	margin: 0px;
	text-align: center;
	float: left;
	width: 300px;
	font-size: 30px;
	font-family: 'Montserrat Subrayada', sans-serif;
	margin-top: 20px;

}
li{
	display: inline;
	color:white;
}

.yohitsme{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	min-width: 615px;
}
.whoisme{
	background-color: #ffffff;
	    margin-left: auto;
	    margin-right: auto;
	    width: 60%;
	    min-width: 400px;
	    border-radius: 11px;
	    padding-top: 50px;
	    padding-left: 50px;
	    padding-right: 50px;
	    margin-right: 125px;
	    padding-bottom: 50px;
	    min-height: 100px;
	    box-shadow: 4px 4px 9px #c3c3c3;
}

.whoisme p{
	font-size: 17px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
.whoisme h1{
	text-align: center;
	    margin-bottom: 30px;
	    font-size: 30px;
	    font-family: 'Montserrat Subrayada', sans-serif;
}
.whoisme i{
	margin-left: auto;
	margin-right: auto;
	font-size: 100px;
	display: block;
	width: 14%;
 color: #c76c6c;
}

 h1{
	 
 }

.tech-pics{
	height: 200px;
	width: 400px;
	float: left;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	padding-top: 50px;
	background-color: #f5f5f5;
	border-radius: 10px;
	border: 1px solid #a7a7a7;
}
.technologies{
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	font-size: 20px;
	margin-bottom: 100px;
	text-align: center;
	max-width: 900px;
	min-width: 900px;
}
.technology-info{
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	min-width: 400px;
	border-radius: 11px;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	margin-right: 125px;
	padding-bottom: 50px;
	min-height: 100px;
	box-shadow: 4px 4px 9px #c3c3c3;
}

.technology-info p{
	font-size: 17px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
.technology-info h1{
	text-align: center;
	    margin-bottom: 30px;
	    font-size: 30px;
	    font-family: 'Montserrat Subrayada', sans-serif;
}
.technology-info i{
	margin-left: auto;
	margin-right: auto;
	font-size: 100px;
	display: block;
	width: 14%;
 color: #c76c6c;
}


/* PORJECT SECTION*/


.project-section{
	background-color: #d6d6d6;
	padding-bottom: 100px;
	padding-top: 50px;
}
.project-section h1{
	text-align: center;
	    font-size: 45px;
	    margin-top: auto;
	    color: #524e4e;
	    margin-bottom: 40px;
	    font-family: 'Montserrat Subrayada', sans-serif;
}

.project-section p{
	    font-size: 16px;
}

.project-container img{
	height: 340px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	background-color: #f5f5f5;
	display: block;
}
.project-container{
	margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    font-size: 20px;
    text-align: center;
    max-width: 900px;
    min-width: 900px;
}
.project-info{
	background-color: #ffffff;
	min-width: 400px;
	padding-top: 50px;
	float: left;
	height: 340px;
	padding-left: 50px;
	width: 50%;
	padding-right: 50px;
	padding-bottom: 50px;
	min-height: 100px;
}

.links{
	    margin-top: 25px;
}
.technology-info p{
	font-size: 17px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
.technology-info h1{
	text-align: center;
	    margin-bottom: 30px;
	    font-size: 30px;
	    font-family: 'Montserrat Subrayada', sans-serif;
}
.technology-info i{
	margin-left: auto;
	margin-right: auto;
	font-size: 100px;
	display: block;
	width: 14%;
 color: #c76c6c;
}




.bio{
	background-color: #ffffff;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	font-size: 20px;
    padding: 50px;
		text-align: center;
}

.bio h2{
	font-size: 50px;
	margin-top: 30px;
	font-family: 'Montserrat Subrayada', sans-serif;
}
.bio p{
	    padding: 50px;
}
p{
	font-family: 'Raleway', sans-serif;
}
.picture{
	height: 200px;
	width: 135px;
	float: left;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	background-image: url(https://graph.facebook.com/10212042720003672/picture?width=300&height=500);
	border-radius: 10px;
	box-shadow: 1px 4px 7px #949494;
}
.profile{
background-color: yellow;

}

.portfolio h1{
	font-size: 60px;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
		font-family: 'Montserrat Subrayada', sans-serif;
}

.project{

}

.project-image{
	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}
.project h2{
	text-align: center;
    padding: 100px;
		font-size: 100px;
}
.project img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 600px;
		margin-top: 100px;
	margin-bottom: 100px;
}
.project-explanation {
	width: 50%;
background-color: #ffffff;
		margin-right: auto;
		margin-left: auto;
		width: 90%;
		font-size: 20px;
		max-width: 1170px;
			padding: 20px;
			text-align: center;

}
.project-explanation p{
	padding: 50px;
}
.project-explanation h2{
	font-size: 50px;
}
.wordstack{
	background-image: url("https://s11.postimg.org/8zfndor7n/Screenshot_2017_03_16_18_11_34.png");
		background-size: contain;
}
#wordstack-font{
font-family: 'Fredoka One', cursive;
}

#givagifts-font{
	font-family: 'Baloo Paaji', cursive;
}

#bibleapp-font{
	font-family: 'Pacifico', cursive;
}

#lazykitchen-font{
	font-family: 'Pacifico', cursive;
}
.givagifts{
	    background-position: -200px;
	background-size: cover;
	background-image: url('https://s21.postimg.org/4w6q9nysn/Screen_Shot_2017-05-02_at_9.37.39_AM.png');
}

.bibleapp{
	    background-position: -6px;
background-size: cover;
background-image: url('https://s10.postimg.org/de2gphm7t/Screenshot_2017_03_16_18_12_42.png');
}
.lazykitchen{
	background-position: -34px;
background-size: cover;
background-image: url('https://s22.postimg.org/payi10wwx/Screenshot_2017_03_16_18_09_09.png');
}
/* 
.technologies{
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	font-size: 20px;
    padding: 50px;
		text-align: center;
} */

.technologies img{
	width: 100px;
}
